$lineHeight: 25px;
$padding: 5px;
$alternateRowColor: rgba(0,0,0,0.03);
$selectedFileColor: $folderColor;

.file-explorer{
  padding: 20px;
  > ul {
    border: 1px solid $veryLightBorderColor;
    padding: 20px 40px;
    margin: 10px 0;
    > li{
      border: 1px solid transparent;
      line-height: $lineHeight;
      height: $lineHeight;
      cursor: pointer;
      padding-left: 5px;

      > .file-type-icon.dir{
        color: $folderColor;
      }

      > .file-name{
        padding-left: $padding;
        cursor: inherit;
      }
      > li:nth-child(2n){
        background: $alternateRowColor;
      }
      &:hover{
        border: 1px solid $lightBorderColor;
      }
      &.selected{
        background-color: $selectedFileColor;
        > .file-type-icon{
          color: white;
        }
        > .file-name{
          color: white;
        }
      }
    }
  }
}
